.header{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #373737;
  align-items: center;
}

.header img{ 
  height: 25px;
}

.header a{
  color: #DDDDDD;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.header a:hover{ 
  color: #C3C3C3;
}

.one-card {
  text-align: center;
}
.card-size{
  max-width: 400px;
}

.non-legal-badge{
  color: aliceblue;
  background-color: red;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.legal-badge{
  color: aliceblue;
  background-color: green;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.box-legal{
  background-color:gainsboro;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  border-radius: 10px;
}

.new-card-button{
  margin-top: 30px;
}


.select-set{
  margin-left: 50px;
  margin-right: 50px;
}

.card-list-row{
  padding: 20px;
}
.card-list-col{
  padding-top: 20px;
}